<div class="container">
	<div class="col-lg-12">
      <h2 class="page-header">Our Team</h2>
        </div>

      </div>

      <div class="row">
		  <div class="span12">
			  <div style="padding:55px 55px">
			        <div class="row-fluid">
        <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
            <h3>Omar Amiri <small>CEO and Founder</small></h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
            <h3>John Smath <small>Job Title</small></h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
            <h3>John Smeth <small>Job Title</small></h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
            <h3>John Smyth <small>Job Title</small></h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
            <h3>John Smoth <small>Job Title</small></h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
            <h3>John Smuth <small>Job Title</small></h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
	</div>
	</div>
	</div>
      </div>
  </div><!-- /.container -->