<div class="jumbotron center">
	<h1>Welcome to LocalBite!</h1>
	<p>Join our mailing list to stay updated on our latest releases.</p>
	<input type="text" name="email box" value="enter e-mail address"> 
	<%= link_to "Submit!","#", class: "btn btn-primary btn-lg" %>
</div>