<div class="jumbotron center">
	<h1>Welcome to LocalBite!</h1>
	<% if user_signed_in? %>
		This is the exclusive member area
	<% else %>
	<p>
		<%= link_to "Sign-up!", new_user_registration_path, class: "btn btn-primary btn-lg" %>	
	</p>
	<% end %>
</div>